<h1>Welcome to Eco Friend!</h1>

<p> 
    <%= link_to "Log In", login_path %>
    OR 
    <%= link_to "Sign Up", signup_path %>
    OR
    <%= link_to "Log In with Google", '/auth/google_oauth2' %>
</p>