<h1>Eco-friendly Brands:</h1>
<br> 

<% @brands.each do |b| %>
<br>
    <div> 
    <h2><%= link_to b.name, brand_path(b) %> - <%= b.category %></h2>
    </div>
    <div>
        <p><%= b.info %></p>
    </div>
    <div>
        <p><% b.comments.each do |c| %></p>
        <%= c.review %>
        <% end %>
    </div>
    <br> 
    
<% end %>
