<h1>Eco-friendly Brands</h1>

<% @brands.each do |b| %>

    <h2><%= b.name %> - <%= b.category %></h2>
    <div>
        <h3><%= b.info %></h3>
    </div>
    <div>
        <h4><% b.comments.each do |c| %></h4>
        <%= c.review %>
        <% end %>
    </div>
    
    
<% end %>
